.container {
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid;
  padding: 1rem;
}

.head-logo {
  align-items: center;
  gap: 0.5rem;
}

a {
  color: rgb(0, 140, 255);
}

.img {
  height: 3rem;
}

.nav-items {
  gap: 1rem;
  margin-bottom: 0;
}

.nav-items li:nth-of-type(3) {
  border-right: 1.5px solid black;
  padding-right: 1rem;
}

hr {
  width: calc(100% - 5rem);
  margin: 0 auto;
}
